@import "tailwindcss";

@theme {
  /* Paleta oficial de Baku-San */
  --color-baku-pink: #DBACD0;
  --color-baku-purple: #AE92C4;
  --color-baku-deep: #392071;
  --color-baku-mint: #CFE8E5;

  /* Sobrescribimos colores de shadcn para que usen tu paleta */
  --color-primary: var(--color-baku-deep);
  --color-primary-foreground: #ffffff;

  --color-secondary: var(--color-baku-purple);
  --color-secondary-foreground: #ffffff;

  --color-accent: var(--color-baku-pink);
  --color-background: #fdfbff; /* Un blanco con un toque de violeta */
}